// Colors
$color-primary-lightest: #77ABB7;
$color-primary-light: #476D7C;
$color-primary: #254B62;
$color-primary-dark: #1D3E53;
$color-white: #fff;
$color-black: #000;
$color-black-light: #363636;
$color-grey: #c5c5c5;
$color-grey-2: #e8e8e8;
$color-grey-light: #f7f7f7;
$red: #d25f5e;
$red-light: #fffafa;
$green: #9fd164;
$green-light: #f5ffea;

// Font
$default-font-size: 1.6rem;
