.blog-navigation {
    max-width: 33rem;
    margin: 2rem;
    margin-left: 0;
    background-color: $color-grey-light;
    
    &__sort {
        width: 100%; 
        display: flex;
        flex-direction: column;
        
        &__buttons {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;

            &__item {
                width: 100%;
                background-color: $color-primary-light;
                color: $color-white;
                padding: 0.5rem;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    color: $color-black-light;
                }

                &__active {
                    color: $color-white;
                    background-color: $color-primary;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }

        &__content {
            display: flex;
            align-items: flex-start;
            padding: 2rem;
            padding-top: 0;

            a {
                width: 30%;
                transition: all;
                transition-duration: 0.3s;
                
                &:hover {
                    opacity: 0.7;
                }
            }

            &__img {
                width: 100%;
                padding-right: 2rem;
    
            }

            &__text {
                h6 {
                    font-weight: 400;
                    cursor: default;
                }
            }
        }
    }

    &__search, &__newsletter {
        
        &__form {

            padding: 2rem;
            padding-left: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &__input {

                font-family: inherit;
                font-size: inherit;
                color: inherit;
                background-color: $color-grey-2;
                border: none;
                padding: 0.7rem 2rem;
                border-radius: 10rem;
                width: 90%;
                transition: all;
                transition-duration: 0.2s;
                margin-right: -3.25rem;
                padding-right: 4rem;
        
                &:focus {
                    outline: none;
                    width: 100%;
                    background-color: $color-grey;
                }
            
                &::-webkit-input-placeholder {
                    font-weight: 100;
                    color: $color-grey-dark;
                }
            }
        
            &__button {
                border: none;
                background-color: rgba(255, 255, 255, .0);
                transition: all;
                transition-duration: 0.2s;

                &:focus {
                    outline: none;
                }
        
                &:active {
                    transform: translateY(0.2rem);
                }
            }
        
            &__input:focus + &__button {
                background-color:  rgba(255, 255, 255, .0);
            }
        
            &__icon {
                height: 2rem;
                width: 2rem;
            }

        }

    }

    &__tags {

        &__box {
            padding: 2rem;
        }
        
    }

    &__heading {
        background-color:  $color-primary-light;
        color: $color-white;
        display: block;
        padding: 0.5rem;
        padding-left: 1rem;
        text-transform: uppercase;
    }
}