.blog-navigation {
    max-width: 33rem;
    margin: 2rem;
    margin-left: 0;
    background-color: $color-grey-light;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    @include respond(small-tab) { // width < 800px?
        display: none;
    }
    
    &__sort {
        width: 100%; 
        display: flex;
        flex-direction: column;
        
        &__buttons {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;

            &__item {
                width: 100%;
                background-color: $color-primary-light;
                color: $color-white;
                padding: 0.5rem;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;

                &:first-of-type {
                    border-top-left-radius: 1rem;
                }

                &:last-of-type {
                    border-top-right-radius: 1rem;
                }

                &:hover {
                    color: $color-black-light;
                }

                &__active {
                    color: $color-white;
                    background-color: $color-primary;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }

        &__content {
            display: flex;
            align-items: flex-start;
            padding: 2rem;
            padding-top: 0;

            a {
                width: 30%;
                transition: all;
                transition-duration: 0.3s;
                
                &:hover {
                    opacity: 0.7;
                }
            }

            &__img {
                width: 100%;
                padding-right: 2rem;
    
            }

            &__text {
                line-height: 1.1;
                margin-top: 0.2rem;
                display: block;

                &__by {
                    line-height: 1.3;
                    cursor: default;
                    font-size: 1.2rem;
                    display: flex;
                    margin-top: 0.5rem;
                }

                &__img {
                    width: 1.3rem;
                    height: 1.3rem;
                    margin: 0 0.2rem;
                }
            }

        }
    }

    &__tags {

        &__box {
            padding: 2rem;
        }
        
    }

    &__heading {
        background-color:  $color-primary-light;
        color: $color-white;
        display: flex;
        padding: 0.5rem;
        padding-left: 2rem;
        text-transform: uppercase;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        
    }
}