.header {
    background-image:
    linear-gradient(
      to right bottom,
      rgba($color-black, 0.8),
      rgba($color-black, 0.8)
    ),
    url(../img/header1.jpg);
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__logo-box {
        position: absolute;
        top: 5rem;
        left: calc(50% - 8rem);
    }

    &__text-box {
        text-align: center;
        max-width: 85%;
        @include respond(tab-port) { // width < 900px?
            max-width: 80%;
        }
    }
    
    &__logo {
        width: 16rem;
        display: block;
    }

    &__img-switcher {
        background-color: rgba($color-white, 0.4);
        width: 4rem;
        height: 4rem;
        border-radius: 10rem;
        border: 0;
        padding: 1.2rem;
        transition: all 0.4s;

        &:hover {
            background-color: rgba($color-white, 0.8);
        }
    }

    &__img-switcher--prev {
        position: absolute;
        top: calc(50% - 2rem);
        left: 4rem;
        
        @include respond(phone) { // width < 600px?
            top: calc(100% - 6rem);
        }
    }

    &__img-switcher--next {
        position: absolute;
        top: calc(50% - 2rem);
        right: 4rem;
        
        @include respond(phone) { // width < 600px?
            top: calc(100% - 6rem);
        }
    }

    &__circles {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
    }

    &__circle-switcher {
        border-radius: 10rem;
        border: 1px solid $color-white;
        width: 1.3rem;
        height: 1.3rem;
        margin: 0.5rem;
        cursor: pointer;
        
        &--active {
            background-color: $color-white;
        }
    }

}