////////////////////////////////////
///   WRAPPER
///////////////////////////////////
.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

////////////////////////////////////
///   NAVIGATION TOP
///////////////////////////////////
.nav_top {
  background-color: $color-primary-light;
  border-top: 0.3rem solid $color-orange;
  border-bottom: 0.1rem solid $color-primary-dark1;
  padding: 2rem;
  flex: 0 1 auto;
  display: flex;

  &__left {
    margin-right: auto;
  }

  &__right {
    position: relative;
  }

  &__img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    display: block;
  }

  &__link {
    list-style: none;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5rem;
  }

  &__drop {
    position: absolute;
    z-index: 10;
    top: 100rem;
    right: 0;
  }

  &__link--drop {
    list-style: none;
  }
}

.wrapper_mid {
  display: flex;
  flex-direction: row;
}

////////////////////////////////////
///   NAVIGATION LEFT SIDE
///////////////////////////////////
.nav_left {
  background-color: $color-primary-light;
  border: 0.1rem solid $color-primary-dark1;
  margin: 2rem;
  margin-right: 0;
  width: 15%;

  &__img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    display: block;
  }

  &__link {
    list-style: none;
    padding: 1rem;

    &:hover {
      background-color: $color-grey;
      border-top: 0.1rem solid $color-primary-dark1;
      border-bottom: 0.1rem solid $color-primary-dark1;
      color: $color-orange;
      cursor: pointer;
      transform: translateY(-0.1rem);
      margin-bottom: -0.2rem;
    }

    a,
    span {
      min-width: 100%;
      display: flex;
      vertical-align: center;
    }
  }

  &__link--drop {
    list-style: none;
    padding-left: 2rem;
  }
}

////////////////////////////////////
///   CONTENT BOX
///////////////////////////////////
.content {
  background-color: $color-primary-light;
  border: 0.1rem solid $color-primary-dark1;
  margin: 2rem;
  width: 85%;
  min-height: calc(100vh - 17.9rem);
}

.footer {
  background-color: $color-primary-dark2;
  border-top: 0.1rem solid $color-orange;
  padding: 2rem;
  color: $color-white;
  text-align: center;
}
