// Colors
$color-primary-light: #f8f8f8;
$color-primary-dark1: #e7e7e7;
$color-primary-dark2: #4e4e4e;
$color-orange: #e18231;
$color-white: #fff;
$color-black: #000;
$color-grey: #eeeeef;

// Font
$default-font-size: 1.6rem;
