.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    z-index: 10;
    border-radius: 10rem;
    width: 6rem;
    height: 6rem;
    border: 0;
    padding: 2rem;
    background-color: $color-primary-light;
    fill: $color-white;
    cursor: pointer;
    display: none;

    @include respond(tab-port) { // width < 900px?
        bottom: 3rem;
        right: 3rem;
    }

    &:hover {
        background-color: $color-primary-lightest;
    }
}