form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;

    input, textarea, select {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: $color-grey-2;
        border: none;
        padding: 0.8rem 2rem;
        border-radius: 10rem;
        width: 95%;
        transition: all;
        transition-duration: 0.2s;
        margin-right: -3.25rem;
        padding-right: 4rem;
        
    
        &:focus {
            outline: none;
            width: 100%;
            background-color: $color-grey;
            max-width: 60rem;
        }
    
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $color-grey-dark;
        }
        
        // Error border
        &.error {
            border: 2px solid $red;
            background-color: $red-light;

            &:focus {
                background-color: $red-light;
            }
        }

        // Valid border
        &.valid {
            border: 2px solid $green;
            background-color: $green-light;

            &:focus {
                background-color: $green-light;
            }
        }
    
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::-ms-expand {
            display: none;
        }

        &:focus {
            background-color: $color-grey-2;
        }
    }
}

.select__div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    &::after {
        content: '\25bc';
        color: $color-grey-dark;
        right: 1rem;
        top: 50%;
        padding-left: 0.5rem;
        border-left: 1px solid $color-grey-dark;
        position: absolute;
        pointer-events: none;
    }
}

.input__button {
    border: none;
    background-color: rgba(255, 255, 255, .0);
    transition: all;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(0.2rem);
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}

.form__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input__box {
    padding: 2rem;
    padding-left: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.checkbox {

    display: none;

    &__box {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    &__overlay {
        background: $color-grey-2;
        border: 1px solid $color-grey;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        transition: all;
        transition-duration: 0.2s;
        cursor: pointer;
        position: relative;
    }

    &:checked ~ &__overlay{
        background: $color-primary-lightest;
        border: 1px solid $color-primary;

        &::before,
        &::after {
            content: "";
            background-color: $color-primary;
            position: absolute;
            height: 100%;
            width: 1px;
            left: calc(50% - 0.5px);
        }

        &::before {
            transform: rotate(135deg); 
        }

        &::after {
            transform: rotate(-135deg);
        }
    }

}

.error__box {
    margin-top: -1.3rem;
    margin-left: 2.5rem;
    align-self: flex-start;
}

// Error message
[id$="-error"] {
    background: $red;
    padding: 1rem 1.5rem;
    border: 0;
    color: $color-white;
    position: relative;
    font-size: 1.3rem;
    display: none;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    border-radius: 50rem;
  
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 1rem solid $red;
      position: absolute;
      top: -1rem;
      left: 3rem;
    }
}