.pagination {
    
    display: flex;
    justify-content: center;
    user-select: none;

    span {
        display: flex;
        padding: 0.8rem 1.6rem;
        text-decoration: none;
        border: 1px solid $color-grey;
        border-left: 0;
        line-height: 2rem;
        text-align: center;
        cursor:  default;
    }
    
    a {

        padding: 0.8rem 1.6rem;
        text-decoration: none;
        border: 1px solid $color-grey;
        transition: all;
        transition-duration: 0.4s;
        
        &:not(:first-of-type) {
            border-left: 0;
        }

        &:hover:not(.active) {
            background-color: $color-primary-lightest;
            border: 1px solid $color-primary-lightest;
            color: $color-white;
    
            &:not(:first-of-type) {
                border-left: 0;
            }
        }
        
        &.active {
            background-color: $color-primary;
            color: $color-white;
            border: 1px solid $color-primary-light;
        }

        &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
        
    }

}


.comments__pagination {
    display: flex;
    justify-content: center;
    margin-top: 0.1rem;
    user-select: none;

    span {
        display: flex;
        padding: 0.2rem 0.8rem;
        text-decoration: none;
        border: 1px solid $color-grey;
        border-left: 0;
        text-align: center;
        cursor:  default;
        line-height: 1;
    }
    
    a {

        padding: 0.2rem 0.8rem;
        padding-top: 0.4rem;
        text-decoration: none;
        border: 1px solid $color-grey;
        transition: all;
        transition-duration: 0.4s;
        line-height: 1;
        
        &:not(:first-of-type) {
            border-left: 0;
        }

        &:hover:not(.active) {
            background-color: $color-primary-lightest;
            border: 1px solid $color-primary-lightest;
            color: $color-white;
    
            &:not(:first-of-type) {
                border-left: 0;
            }
        }
        
        &.active {
            background-color: $color-primary;
            color: $color-white;
            border: 1px solid $color-primary-light;
        }

        &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
        
    }
}