// Social media buttons
.social-media {
    display: flex;
    justify-content: center;
    user-select: none;
    
    &__img {
        height: 4rem;
        width: 4rem;
        margin: 1rem;
        transition: all;
        transition-duration: 0.3s;
        cursor: pointer;
    
        &:hover {
            opacity: 0.7;
        }
    }
}