// Toolbox
.toolbox {
    display: flex;
    min-width: 100%;
    background-color: $color-grey-light;
    border: 1px solid $color-grey-2;
    padding: 1rem;
    line-height: 1;

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        
        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }

    &__separator {
        border-left: 1px solid $color-black;
        margin-right: 1rem;
    }
}