// Syntax highlighting
pre {
    display: flex;
    flex-direction: column;
    min-width: 95%;
    max-width: 95%;
    max-height: 80rem;
    align-self: center;
    margin-top: 2rem;
    background-color: #2c3037;
    padding: 2rem;
    overflow: auto;
    color: #bababa;
    counter-reset: line -1;
}
code {
    display: block;
    color: #bababa;
    min-width: 100%;
    max-width: 100%;
    counter-increment: line;

    &::before {
        content: counter(line, decimal-leading-zero);
        -webkit-user-select: none;
        padding-right: 1rem;
        margin-right: 2rem;
        border-right: 1px solid #bababa;
        display: inline-block;
    }

}
pre code .string {
    color:#A1E46D;
}
pre code .special {
    color:#c777bd;
}
pre code .special-js {
    color:#6DE4D1;
}
pre code .special-js-glob {
    color:#A1E46D;
    font-weight:bold;
}
pre code .special-comment {
    color:#AAAAAA;
}
pre code .special-js-meth {
    color:#E46D8A;
}
pre code .special-html {
    color:#E4D95F;
}
pre code .special-sql {
    color:#1D968C;
}
pre code .special-php {
    color:#597EA7;
}
pre code .function-method {
    color: #49aeea;
}
pre code .variables{
    color: #eb6d75;
}
pre code .wrappers_dot {
    color: #bababa;
}
pre code .classes {
    color: #eabe78;
}