// Center text
.u-center-text {
  text-align: center;
}

// Bold text 
.u-bold-text {
  font-weight: 700;
}

// Margins bottom
.u-margin-bottom-small {
  margin-bottom: 1.5rem;

  @include respond(tab-port) { // width < 900px?
    margin-bottom: 0.75rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;

  @include respond(tab-port) { // width < 900px?
    margin-bottom: 2.5rem;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) { // width < 900px?
    margin-bottom: 4rem;
  }
}

// Margins top
.u-margin-top-small {
  margin-top: 1.5rem;
  
  @include respond(tab-port) { // width < 900px?
    margin-top: 0.75rem;
  }
}

.u-margin-top-medium {
  margin-top: 5rem;

  @include respond(tab-port) { // width < 900px?
    margin-top: 2.5rem;
  }
}

.u-margin-top-big {
  margin-top: 8rem;

  @include respond(tab-port) { // width < 900px?
    margin-top: 4rem;
  }
}

.u-margin-top-huge {
  margin-top: 10rem;

  @include respond(tab-port) { // width < 900px?
    margin-top: 5rem;
  }
}

// Margin sides
.u-margin-sides-medium {
  margin-left: 4rem;
  margin-right: 4rem;

  @include respond(tab-port) { // width < 900px?
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.u-margin-sides-huge {
  margin-left: 20rem; 
  margin-right: 20rem;
}