.section-about {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text {
        max-width: 80rem;
        padding: 0 2.5rem;
    }

    &__social {
        margin-top: 4rem;
    }

    &__cta {
        display: flex;

        @include respond(phone) { // width < 600px?
            flex-direction: column;
        }
    }

    &__social--img {
        height: 4rem;
        width: 4rem;
        margin: 1rem;
        transition: all;
        transition-duration: 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}