// About
.about {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text {
        max-width: 80rem;
        padding: 0 2.5rem;
    }
}