.table {
    display: table;
    border: 1px solid $color-primary;
    border-bottom: 0;

    &__row {
        display: table-row;
        border-bottom:  1px solid $color-primary;

        &:nth-of-type(even) {
            background-color: $color-white;
        }

        &:nth-of-type(odd) {
            background-color: $color-grey-light;
        }

        :not(:last-child) {
            border-right: 1px solid $color-primary;
        }
    }

    &__column {
        display: table-cell;
        padding: 0 1rem;
        border-bottom:  1px solid $color-primary;
        font-size: 1.3rem;
        vertical-align: middle;

        img {
            width: 5rem;
            height: 4rem;
            display: block;
            margin: 0.2rem 0;
        }
    }

    &__header {
        background-color: $color-primary-light !important;
        color: $color-white;
    }
}

.admin {

    &__input-box {
        display: flex;
        flex-direction: column;
        max-width: 100rem;
        width: 100%;
        margin-top: 2rem;
        position: relative;
    }

    &__label {
        text-align: left;
        margin-left: 2rem;
    }

    &__input {
        width: 100%;
        padding: 0.8rem 2rem;
        background-color: $color-grey-2;
        border: none;

        &:focus {
            outline: none;
            background-color: $color-grey;
        }
    
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: $color-grey-dark;
        }
    }

}