// Blog
.blog-short {
    
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__container {
        max-width: 95rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        @include respond(tab-land) { // width < 1300px?
            max-width: 90rem;
        }

        @include respond(medium-desktop) { // width 1100px?
            max-width: 80rem;
        }
    }

    &__box {
        padding: 2rem;
        max-width: 100%;
        width: 100%;
    }

    &__img {
        width: 100%;
        user-select: none;

        img {
            width: 100%;
            max-height: 40rem;
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        width: 100%;
        font-size: 3rem;
        font-weight: bold;
        border-bottom: 1px solid $color-grey-2;
        padding-bottom: 0.5rem;
    }

    &__by {
        width: 100%;
        font-size: 1.3rem;
        margin-top: 1rem;
        display: flex;
        user-select: none;

        &__img {
            width: 1.7rem;
            height: 1.7rem;
            margin: 0 0.3rem;
        }
    }

    &__updated-by {
        width: 100%;
        font-size: 1.3rem;
        display: flex;
        user-select: none;

        &__img {
            width: 1.7rem;
            height: 1.7rem;
            margin: 0 0.3rem;
        }
    }

    &__tags {
        width: 100%;
        margin-top: 1rem;
        user-select: none;
    }

    &__story {
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid $color-grey-2;
    }

    &__read {   
        user-select: none;
        
        a {

            &:link,
            &:visited {
                font-size: 1.5rem;
                font-weight: 700;
            }

            &:hover {
                
                span {
                    padding-left: 0.4rem;
                    transition: all;
                    transition-duration: 0.2s;
                }
            }
        }
    }
}