.box.has-advanced-upload {
    outline: 2px dashed black;
    outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.is-dragover {
    background-color: grey;
  }

.box.is-uploading .box__input {
visibility: none;
}
.box.is-uploading .box__uploading {
display: block;
}

.box {
    display: flex;
    min-height: 40rem;
    width: 50rem;
    max-width: 50rem;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-light;
    padding: 4rem;

    img {
        max-width: 90%;
        margin: 4rem;
    }

    &__dragndrop,
    &__uploading,
    &__success,
    &__error {
      display: none;
    }

    &__img {
        width: 10rem;
        height: 10rem;
        margin-bottom: 4rem;
        margin-top: 0 !important;
    }

    &__file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        
        &__label {
            display: inline-block;
            cursor: pointer;
        }
    }
}
