// Latest-blog
.latest-blog {
    background-color: $color-grey-light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    user-select: none;

    &__wrapper {
        display: flex;
        
        @include respond(tab-port) { // width < 900px?
            flex-direction: column;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        margin: 3rem;
        margin-bottom: 0;
        align-items: center;
    }

    &__img {
        max-width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__text {
        max-width: 35rem;
        margin-top: 2rem;
    }

    &__read-more {
        display: block;
        margin-top: 0.3rem;
        &:link,
        &:visited {
            font-size: 1.5rem;
            font-weight: 700;
            color: $color-black-light;
        }

        &:hover {
            color: $color-primary;

            span {
                padding-left: 0.4rem;
            }
        }
    }
}