.legal {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    user-select: none;

    &__box {
        max-width: 100rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    &__navigation {
        cursor: pointer;
        color: $color-black;
        
        &:hover {
            color: $color-primary;
        }
    }

    &__contact {
        font-weight: 700;
        font-size: 1.3rem;
        margin-top: 2rem;
    }

    &__update {
        margin: 2rem 0;
    }

    u {
        border-top: 1px solid $color-grey-2;
        border-bottom: 1px solid $color-grey-2;
        display: block;
        text-decoration: none;
        margin:  2rem 0;
    }
}