// Newsletter
.newsletter {
    
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    &__container {
        max-width: 100rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    &__box {
        padding: 2rem;
        max-width: 100rem;
        width: 100%;
    }
        
    &__form {

        padding: 2rem;
        padding-left: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &__input {

            font-family: inherit;
            font-size: inherit;
            color: inherit;
            background-color: $color-grey-2;
            border: none;
            padding: 0.7rem 2rem;
            border-radius: 10rem;
            width: 90%;
            transition: all;
            transition-duration: 0.2s;
            margin-right: -3.25rem;
            padding-right: 4rem;
            max-width: 50rem;
    
            &:focus {
                outline: none;
                width: 100%;
                background-color: $color-grey;
                max-width: 60rem;
            }
        
            &::-webkit-input-placeholder {
                font-weight: 100;
                color: $color-grey-dark;
            }
        }
    
        &__button {
            border: none;
            background-color: rgba(255, 255, 255, .0);
            transition: all;
            transition-duration: 0.2s;

            &:focus {
                outline: none;
            }
    
            &:active {
                transform: translateY(0.2rem);
            }
        }
    
        &__input:focus + &__button {
            background-color:  rgba(255, 255, 255, .0);
        }
    
        &__icon {
            height: 2rem;
            width: 2rem;
            margin-top: 0.4rem;
        }

    }

}