.user {
    width: 100%;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-primary-light;
        width: 100%;
        padding: 2rem;
        color: $color-white;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        &__details {
            display: flex;
            border-bottom: 1px solid $color-white;
            display: flex;
            align-items: center;
            padding-bottom: 2rem;
            min-width: 40rem;

            @include respond(phone) { // width < 600px?
                min-width: 0;
            }

            &__img {
                height: 15rem;
                width: 15rem;
                border-radius: 100rem;
                margin-right: 1rem;
                display: block;
                border: 0.3rem solid $color-white;
            }
    
            &__info {
    
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
    
                &__name {
                    font-weight: 700;
                    font-size: 2rem;
                }

                &__social-media {
                    display: flex;
                    margin-top: 1rem;
                    margin-bottom: -6rem;
                    margin-left: -1rem;
    
                    :not(:last-child) {
                        margin-right: 1rem;
                    }
    
                    &__img {
                        width: 4rem;
                        height: 4rem;
                        cursor: pointer;
                        transition: all;
                        transition-duration: 0.3s;
                    
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

        &__stats {
            display: flex;

            &__comments,
            &__rating,
            &__views {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                border-radius: 50%;
                border: 0.3rem solid $color-white;
                width: 9rem;
                height: 9rem;
                font-size: 1.3rem;
                line-height: 1.3;
            }

            &__count {
                font-weight: 700;
            }

            &__comments,
            &__rating {
                margin-right: 2rem;
            }

        }
        
    }

    &__info {
        display: flex;
        background-color: $color-grey-light;
        padding: 2rem;
        width: 100%;

        @include respond(phone) { // width < 600px?
            flex-direction: column;
        }

        &__details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
            padding-right: 2rem;
            text-align: left;

            @include respond(phone) { // width < 600px?
                width: 100%;
                padding-right: 0;
            }

            :not(:first-child) {
                padding-top: 1rem;
            }

            :not(:last-child) {
                border-bottom: 1px solid $color-grey;
                padding-bottom: 1rem;
            }

            &__item {
                display: flex;
                padding-right: 2rem;
                width: 100%;
                text-align: left;

                @include respond(phone) { // width < 600px?
                    border-bottom: 1px solid $color-grey;
                    padding-bottom: 1rem;

                }

                &__title {
                    font-weight: 700;
                    margin-right: 0.5rem;

                    a {
                        font-weight: 400;
                    }
                }
            }
        }

        &__bio {
            display: flex;
            width: 50%;
            flex-direction: column;
            text-align: left;
            border-left: 1px solid $color-grey;
            padding-left: 2rem;

            @include respond(phone) { // width < 600px?
                width: 100%;
                border-left: 0;
                margin-top: 1rem;
                padding-left: 0;
            }

            &__title {
                font-weight: 700;
                width: 100%;
                border-bottom: 1px solid $color-grey;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                text-align: center;
            }

            &__text {
                display: block;
                width: 100%;
                max-width: 100%;

                li {
                    margin-left: 2rem;
                }
    
                img {
                    max-width: 50%;
                }
            }
        }
    }
}