.user {
    width: 100%;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-primary-light;
        width: 100%;
        padding: 2rem;
        color: $color-white;

        &__details {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $color-white;
            padding-bottom: 2rem;

            &__img {
                height: 15rem;
                width: 15rem;
                border-radius: 100rem;
                margin-right: 1rem;
                display: block;
                border: 0.3rem solid $color-white;
            }
    
            &__info {
    
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                &__name {
                    font-weight: 700;
                    font-size: 2rem;
                }
            }
        }

        &__stats {
            display: flex;

            &__comments,
            &__rating,
            &__views {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
            }

            &__comments,
            &__rating {
                margin-right: 4rem;
            }

        }
        
    }

    &__info {
        display: flex;
        background-color: $color-grey-light;
        padding: 2rem;
        width: 100%;

        &__details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
            padding-right: 2rem;

            :not(:first-child) {
                padding-top: 1rem;
            }

            :not(:last-child) {
                border-bottom: 1px solid $color-grey;
                padding-bottom: 1rem;
            }

            &__item {
                display: flex;
                padding-right: 2rem;
                width: 100%;

                &__title {
                    font-weight: 700;
                    margin-right: 0.5rem;

                    a {
                        font-weight: 400;
                    }
                }
            }
        }

        &__bio {
            display: flex;
            width: 50%;
            flex-direction: column;
            text-align: left;
            border-left: 1px solid $color-grey;
            padding-left: 2rem;

            &__title {
                font-weight: 700;
                width: 100%;
                border-bottom: 1px solid $color-grey;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                text-align: center;
            }
        }
    }
}